
body {
    background-image: url(https://i.pinimg.com/564x/6c/53/99/6c539962e922bab4272cc9e0818430a9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container form {
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    border-radius: 8px;
  }
  
  .container form .MuiTextField-root {
    margin-bottom: 15px;
  }
  
  .container form button {
    margin-top: 20px;
  }
  
  .container p {
    margin-top: 20px;
    color: red;
  }
  